In [0]:
import tensorflow as tf
tf.set_random_seed(42)

In [2]:
tf.enable_eager_execution

In [0]:
import pandas as pd
import numpy as np

In [0]:
#Read the dataset
#Drop the columns which are unique for all users like IDs (2.5 points)
bank_df=pd.read_csv('bank.csv')

In [6]:
bank_df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
#drop rownumber ,customerId,Surname as they are unique to each customer

In [0]:
bank_df=bank_df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [8]:
bank_df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
le = LabelEncoder()
bank_df['Gender'] = le.fit_transform(bank_df['Gender'])

In [14]:
bank_df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:

GeoOHE=pd.get_dummies(bank_df['Geography'],prefix = "Geo")

In [0]:
bank_df=pd.concat([bank_df,GeoOHE],axis=1)

In [18]:
bank_df.head()

   CreditScore Geography  Gender  ...  Geo_France  Geo_Germany  Geo_Spain
0          619    France       0  ...           1            0          0
1          608     Spain       0  ...           0            0          1
2          502    France       0  ...           1            0          0
3          699    France       0  ...           1            0          0
4          850     Spain       0  ...           0            0          1

[5 rows x 14 columns]

In [19]:
bank_df = bank_df.drop(['Geography'], axis = 1)
bank_df.head()

   CreditScore  Gender  Age  Tenure  ...  Exited  Geo_France  Geo_Germany  Geo_Spain
0          619       0   42       2  ...       1           1            0          0
1          608       0   41       1  ...       0           0            0          1
2          502       0   42       8  ...       1           1            0          0
3          699       0   39       1  ...       0           1            0          0
4          850       0   43       2  ...       0           0            0          1

[5 rows x 13 columns]

In [0]:
#Distinguish the feature and target set (2.5 points)
#Divide the data set into Train and test sets
from sklearn.model_selection import train_test_split

In [0]:
X=bank_df.drop('Exited',axis=1)
y=bank_df['Exited']

In [0]:
#Normalize the train and test data (2.5 points)

In [0]:
from scipy.stats import zscore

In [0]:
X_Scaled=X.apply(zscore)

In [0]:
#Divide the data set into Train and test sets
train_X,test_X,train_labels,test_labels = train_test_split(X_Scaled,y, test_size=.30,random_state=1)

In [29]:
X_Scaled.shape

(10000, 12)

In [30]:
#nitialize & build the model (10 points)
#Building the model with one hidden layer and activation as sigmoid
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(10, activation='sigmoid',input_shape=(12,)))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
model.compile(optimizer='sgd', loss='binary_crossentropy', 
              metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [31]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                130
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 11
=================================================================
Total params: 141
Trainable params: 141
Non-trainable params: 0
_________________________________________________________________

In [34]:
model.fit(train_X,train_labels,
          validation_data=(test_X,test_labels),
          epochs=5,
          batch_size=32)

Train on 7000 samples, validate on 3000 samples
Epoch 1/5
7000/7000 [==============================] - 0s 44us/sample - loss: 0.4619 - acc: 0.7986 - val_loss: 0.4664 - val_acc: 0.7910
Epoch 2/5
7000/7000 [==============================] - 0s 43us/sample - loss: 0.4591 - acc: 0.7986 - val_loss: 0.4635 - val_acc: 0.7910
Epoch 3/5
7000/7000 [==============================] - 0s 41us/sample - loss: 0.4564 - acc: 0.7986 - val_loss: 0.4607 - val_acc: 0.7910
Epoch 4/5
7000/7000 [==============================] - 0s 42us/sample - loss: 0.4539 - acc: 0.7986 - val_loss: 0.4583 - val_acc: 0.7910
Epoch 5/5
7000/7000 [==============================] - 0s 43us/sample - loss: 0.4516 - acc: 0.7984 - val_loss: 0.4558 - val_acc: 0.7910

In [0]:
#Optimize the model (5 points)

In [0]:
#Use Relu activation Function for hidden layers  and use two hidden layers with 5 neurons each

In [0]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(10, activation='relu',input_shape=(12,)))
model.add(tf.keras.layers.Dense(10, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
model.compile(optimizer='sgd', loss='binary_crossentropy', 
              metrics=['accuracy'])

In [39]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 5)                 65
_________________________________________________________________
dense_6 (Dense)              (None, 5)                 30
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 6
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________

In [47]:
model.fit(train_X,train_labels,
          validation_data=(test_X,test_labels),
          epochs=15,
          batch_size=32)

Train on 7000 samples, validate on 3000 samples
Epoch 1/15
7000/7000 [==============================] - 0s 58us/sample - loss: 0.6759 - acc: 0.5997 - val_loss: 0.5630 - val_acc: 0.7953
Epoch 2/15
7000/7000 [==============================] - 0s 45us/sample - loss: 0.5244 - acc: 0.8024 - val_loss: 0.5100 - val_acc: 0.7927
Epoch 3/15
7000/7000 [==============================] - 0s 45us/sample - loss: 0.4937 - acc: 0.7997 - val_loss: 0.4939 - val_acc: 0.7923
Epoch 4/15
7000/7000 [==============================] - 0s 45us/sample - loss: 0.4816 - acc: 0.7997 - val_loss: 0.4852 - val_acc: 0.7927
Epoch 5/15
7000/7000 [==============================] - 0s 46us/sample - loss: 0.4736 - acc: 0.8011 - val_loss: 0.4779 - val_acc: 0.7947
Epoch 6/15
7000/7000 [==============================] - 0s 45us/sample - loss: 0.4664 - acc: 0.8026 - val_loss: 0.4707 - val_acc: 0.7980
Epoch 7/15
7000/7000 [==============================] - 0s 46us/sample - loss: 0.4593 - acc: 0.8049 - val_loss: 0.4636 - val_acc: 0.7993
Epoch 8/15
7000/7000 [==============================] - 0s 45us/sample - loss: 0.4526 - acc: 0.8077 - val_loss: 0.4570 - val_acc: 0.8020
Epoch 9/15
7000/7000 [==============================] - 0s 46us/sample - loss: 0.4462 - acc: 0.8106 - val_loss: 0.4510 - val_acc: 0.8037
Epoch 10/15
7000/7000 [==============================] - 0s 46us/sample - loss: 0.4404 - acc: 0.8104 - val_loss: 0.4457 - val_acc: 0.8057
Epoch 11/15
7000/7000 [==============================] - 0s 46us/sample - loss: 0.4353 - acc: 0.8137 - val_loss: 0.4410 - val_acc: 0.8060
Epoch 12/15
7000/7000 [==============================] - 0s 45us/sample - loss: 0.4307 - acc: 0.8133 - val_loss: 0.4367 - val_acc: 0.8097
Epoch 13/15
7000/7000 [==============================] - 0s 44us/sample - loss: 0.4266 - acc: 0.8146 - val_loss: 0.4332 - val_acc: 0.8093
Epoch 14/15
7000/7000 [==============================] - 0s 44us/sample - loss: 0.4229 - acc: 0.8157 - val_loss: 0.4296 - val_acc: 0.8107
Epoch 15/15
7000/7000 [==============================] - 0s 45us/sample - loss: 0.4196 - acc: 0.8179 - val_loss: 0.4265 - val_acc: 0.8100

In [0]:
keras.metrics.binary_accuracy(y_true, y_pred, threshold=0.5)

In [0]:
y_pred = model.predict(test_X)
y_pred = (y_pred > 0.5) #Predict the results using 0.5 as a threshold (5 points)

In [0]:
#Print the Accuracy score and confusion matrix (2.5 points)

In [56]:
from sklearn import metrics

print(metrics.classification_report(test_labels, y_pred))
print(metrics.confusion_matrix(test_labels, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.97      0.89      2373
           1       0.65      0.20      0.30       627

    accuracy                           0.81      3000
   macro avg       0.73      0.59      0.60      3000
weighted avg       0.78      0.81      0.77      3000

[[2305   68]
 [ 502  125]]

In [57]:
test_loss,test_acc = model.evaluate(test_X,test_labels)

3000/3000 [==============================] - 0s 22us/sample - loss: 0.4265 - acc: 0.8100

In [58]:
test_acc

0.81