In [0]:
from zipfile import ZipFile
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
train_txtArchive = ZipFile('/content/drive/My Drive/R8_NN_Project2/blog-authorship-corpus.zip', 'r')

In [0]:
df = pd.read_csv(train_txtArchive.open('blogtext.csv'))

In [0]:
df.head()

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 7 columns]

In [0]:
df.shape

(681284, 7)

In [0]:
df.isna().sum()

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [0]:
df.isnull().sum()

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [0]:
label = []
for i in range(0,df.shape[0]):
  label.append([df.gender[i], str(df.age[i]), df.topic[i],df.sign[i]])

In [0]:
label[4]

['male', '33', 'InvestmentBanking', 'Aquarius']

In [0]:
df['Label'] = label

In [0]:
df.head()

        id  ...                                    Label
0  2059027  ...                 [male, 15, Student, Leo]
1  2059027  ...                 [male, 15, Student, Leo]
2  2059027  ...                 [male, 15, Student, Leo]
3  2059027  ...                 [male, 15, Student, Leo]
4  3581210  ...  [male, 33, InvestmentBanking, Aquarius]

[5 rows x 8 columns]

In [0]:
df_new = df.drop(columns = {'gender','age','topic','sign','date','id'})

In [0]:
df_new.head()

                                                text                                    Label
0             Info has been found (+/- 100 pages,...                 [male, 15, Student, Leo]
1             These are the team members:   Drewe...                 [male, 15, Student, Leo]
2             In het kader van kernfusie op aarde...                 [male, 15, Student, Leo]
3                   testing!!!  testing!!!                           [male, 15, Student, Leo]
4               Thanks to Yahoo!'s Toolbar I can ...  [male, 33, InvestmentBanking, Aquarius]

In [0]:
#Converting all the strings in the text column to lower case
df_new['text'] = df_new.text.str.lower()

In [0]:
#removing the unwanted spaces using strip function
df_new['text'] = df_new.text.str.strip()

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from spacy.lang.en.stop_words import STOP_WORDS

In [0]:
df_partial = df_new.iloc[0:5000,:]

In [0]:
df_partial.head

<bound method NDFrame.head of                                                    text                                    Label
0     info has been found (+/- 100 pages, and 4.5 mb...                 [male, 15, Student, Leo]
1     these are the team members:   drewes van der l...                 [male, 15, Student, Leo]
2     in het kader van kernfusie op aarde:  maak je ...                 [male, 15, Student, Leo]
3                                testing!!!  testing!!!                 [male, 15, Student, Leo]
4     thanks to yahoo!'s toolbar i can now 'capture'...  [male, 33, InvestmentBanking, Aquarius]
...                                                 ...                                      ...
4995  so... i had another one of those dreams last n...            [female, 17, indUnk, Scorpio]
4996  mmm... strawberry tea for breakfast. tomorrow ...            [female, 17, indUnk, Scorpio]
4997  yay for a new layout!!  yeah, i know, i need t...            [female, 17, indUnk, Scorpio]
4998  ok, so i lied... fed up isn't playing friday n...            [female, 17, indUnk, Scorpio]
4999  well, today i went to church and talked to the...            [female, 17, indUnk, Scorpio]

[5000 rows x 2 columns]>

In [0]:
X_train, X_test, y_train, y_test = train_test_split(df_partial.text, df_partial.Label, random_state=43, test_size = 0.4)

In [0]:
print(X_train.shape)
print(X_test.shape)

(3000,)
(2000,)

In [0]:
print(y_train.shape)
print(y_test.shape)

(3000,)
(2000,)

In [0]:
vect = TfidfVectorizer(lowercase = True, ngram_range=(1,2), stop_words = STOP_WORDS)

In [0]:
vect.get_stop_words()

frozenset({"'d",
           "'ll",
           "'m",
           "'re",
           "'s",
           "'ve",
           'a',
           'about',
           'above',
           'across',
           'after',
           'afterwards',
           'again',
           'against',
           'all',
           'almost',
           'alone',
           'along',
           'already',
           'also',
           'although',
           'always',
           'am',
           'among',
           'amongst',
           'amount',
           'an',
           'and',
           'another',
           'any',
           'anyhow',
           'anyone',
           'anything',
           'anyway',
           'anywhere',
           'are',
           'around',
           'as',
           'at',
           'back',
           'be',
           'became',
           'because',
           'become',
           'becomes',
           'becoming',
           'been',
           'before',
           'beforehand',
           'behind',
           'being',
           'below',
           'beside',
           'besides',
           'between',
           'beyond',
           'both',
           'bottom',
           'but',
           'by',
           'ca',
           'call',
           'can',
           'cannot',
           'could',
           'did',
           'do',
           'does',
           'doing',
           'done',
           'down',
           'due',
           'during',
           'each',
           'eight',
           'either',
           'eleven',
           'else',
           'elsewhere',
           'empty',
           'enough',
           'even',
           'ever',
           'every',
           'everyone',
           'everything',
           'everywhere',
           'except',
           'few',
           'fifteen',
           'fifty',
           'first',
           'five',
           'for',
           'former',
           'formerly',
           'forty',
           'four',
           'from',
           'front',
           'full',
           'further',
           'get',
           'give',
           'go',
           'had',
           'has',
           'have',
           'he',
           'hence',
           'her',
           'here',
           'hereafter',
           'hereby',
           'herein',
           'hereupon',
           'hers',
           'herself',
           'him',
           'himself',
           'his',
           'how',
           'however',
           'hundred',
           'i',
           'if',
           'in',
           'indeed',
           'into',
           'is',
           'it',
           'its',
           'itself',
           'just',
           'keep',
           'last',
           'latter',
           'latterly',
           'least',
           'less',
           'made',
           'make',
           'many',
           'may',
           'me',
           'meanwhile',
           'might',
           'mine',
           'more',
           'moreover',
           'most',
           'mostly',
           'move',
           'much',
           'must',
           'my',
           'myself',
           "n't",
           'name',
           'namely',
           'neither',
           'never',
           'nevertheless',
           'next',
           'nine',
           'no',
           'nobody',
           'none',
           'noone',
           'nor',
           'not',
           'nothing',
           'now',
           'nowhere',
           'n‘t',
           'n’t',
           'of',
           'off',
           'often',
           'on',
           'once',
           'one',
           'only',
           'onto',
           'or',
           'other',
           'others',
           'otherwise',
           'our',
           'ours',
           'ourselves',
           'out',
           'over',
           'own',
           'part',
           'per',
           'perhaps',
           'please',
           'put',
           'quite',
           'rather',
           're',
           'really',
           'regarding',
           'same',
           'say',
           'see',
           'seem',
           'seemed',
           'seeming',
           'seems',
           'serious',
           'several',
           'she',
           'should',
           'show',
           'side',
           'since',
           'six',
           'sixty',
           'so',
           'some',
           'somehow',
           'someone',
           'something',
           'sometime',
           'sometimes',
           'somewhere',
           'still',
           'such',
           'take',
           'ten',
           'than',
           'that',
           'the',
           'their',
           'them',
           'themselves',
           'then',
           'thence',
           'there',
           'thereafter',
           'thereby',
           'therefore',
           'therein',
           'thereupon',
           'these',
           'they',
           'third',
           'this',
           'those',
           'though',
           'three',
           'through',
           'throughout',
           'thru',
           'thus',
           'to',
           'together',
           'too',
           'top',
           'toward',
           'towards',
           'twelve',
           'twenty',
           'two',
           'under',
           'unless',
           'until',
           'up',
           'upon',
           'us',
           'used',
           'using',
           'various',
           'very',
           'via',
           'was',
           'we',
           'well',
           'were',
           'what',
           'whatever',
           'when',
           'whence',
           'whenever',
           'where',
           'whereafter',
           'whereas',
           'whereby',
           'wherein',
           'whereupon',
           'wherever',
           'whether',
           'which',
           'while',
           'whither',
           'who',
           'whoever',
           'whole',
           'whom',
           'whose',
           'why',
           'will',
           'with',
           'within',
           'without',
           'would',
           'yet',
           'you',
           'your',
           'yours',
           'yourself',
           'yourselves',
           '‘d',
           '‘ll',
           '‘m',
           '‘re',
           '‘s',
           '‘ve',
           '’d',
           '’ll',
           '’m',
           '’re',
           '’s',
           '’ve'})

In [0]:
X_train_vect = vect.fit_transform(X_train)
X_test_vect = vect.transform(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_extraction/text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ll', 've'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [0]:
X_train_vect.shape

(3000, 199863)

In [0]:
X_test_vect.shape

(2000, 199863)

In [0]:
#pd.unique(y_train).size

In [0]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [0]:
mlb.fit(y_train)

MultiLabelBinarizer(classes=None, sparse_output=False)

In [0]:
mlb.classes_

array(['14', '15', '16', '17', '23', '24', '25', '26', '27', '33', '34',
       '35', '36', '37', '39', '41', '42', '44', '45', '46', 'Accounting',
       'Aquarius', 'Aries', 'Arts', 'Automotive', 'Banking',
       'BusinessServices', 'Cancer', 'Capricorn', 'Communications-Media',
       'Consulting', 'Education', 'Engineering', 'Gemini', 'Internet',
       'InvestmentBanking', 'Leo', 'Libra', 'Museums-Libraries',
       'Non-Profit', 'Pisces', 'Religion', 'Sagittarius', 'Science',
       'Scorpio', 'Sports-Recreation', 'Student', 'Taurus', 'Technology',
       'Virgo', 'female', 'indUnk', 'male'], dtype=object)

In [0]:
y_train_bin = mlb.transform(y_train)

In [0]:
y_train_bin

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 1, ..., 1, 1, 0],
       [0, 0, 0, ..., 1, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

In [0]:
y_test_bin = mlb.transform(y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:951: UserWarning: unknown class(es) ['Law'] will be ignored
  .format(sorted(unknown, key=str)))

In [0]:
y_test_bin

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [0]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [0]:
clf = LogisticRegression(solver = 'lbfgs')
clf = OneVsRestClassifier(clf)

In [0]:
clf.fit(X_train_vect,y_train_bin)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [0]:
output = clf.predict(X_test_vect)

In [0]:
output

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 1, 0],
       ...,
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 1, 1, 0]])

In [0]:
clf.score(X_test_vect,y_test_bin)

0.035

In [0]:
from sklearn import metrics

In [0]:
metrics.f1_score(y_test_bin,output,average='micro')

0.4444444444444444

In [0]:
#print('Confusion matri for the below classes: ', mlb.classes_)
classes = mlb.classes_
n_classes = classes.size
cm = metrics.multilabel_confusion_matrix(y_test_bin,output)
for i in range(0,classes.size):
  print(classes[i])
  print(cm[i])

14
[[195   0]
 [  5   0]]
15
[[181   0]
 [ 19   0]]
17
[[185   0]
 [ 15   0]]
23
[[200   0]
 [  0   0]]
24
[[126   0]
 [ 67   7]]
25
[[181   0]
 [ 19   0]]
26
[[190   0]
 [ 10   0]]
27
[[186   0]
 [ 14   0]]
33
[[164   0]
 [ 35   1]]
37
[[192   0]
 [  8   0]]
Aquarius
[[126   0]
 [ 65   9]]
Aries
[[184   0]
 [ 16   0]]
Banking
[[194   0]
 [  6   0]]
Cancer
[[183   0]
 [ 17   0]]
Capricorn
[[199   0]
 [  1   0]]
Education
[[186   0]
 [ 14   0]]
Gemini
[[196   0]
 [  4   0]]
InvestmentBanking
[[170   0]
 [ 30   0]]
Leo
[[187   0]
 [ 13   0]]
Non-Profit
[[183   0]
 [ 17   0]]
Sagittarius
[[199   0]
 [  1   0]]
Scorpio
[[126   0]
 [ 67   7]]
Student
[[166   0]
 [ 34   0]]
female
[[ 17  59]
 [  0 124]]
indUnk
[[36 65]
 [ 0 99]]
male
[[124   0]
 [ 59  17]]

In [0]:
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score

# For each class
precision = dict()
recall = dict()
average_precision = dict()
for i in range(n_classes):
    precision[i], recall[i], _ = precision_recall_curve(y_test_bin[:, i],output[:, i])
    average_precision[i] = average_precision_score(y_test_bin[:, i], output[:, i])

# A "micro-average": quantifying score on all classes jointly
precision["micro"], recall["micro"], _ = precision_recall_curve(y_test_bin.ravel(), output.ravel())
average_precision["micro"] = average_precision_score(y_test_bin, output, average="micro")
print('Average precision score, micro-averaged over all classes: {0:0.2f}'.format(average_precision["micro"]))

Average precision score, micro-averaged over all classes: 0.33

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/ranking.py:528: RuntimeWarning: invalid value encountered in true_divide
  recall = tps / tps[-1]

In [0]:
gender = df.gender.value_counts().to_dict()
#print(gender)

{'male': 345193, 'female': 336091}

In [0]:
age = df.age.value_counts().to_dict()
#print(age)

In [0]:
topic = df.topic.value_counts().to_dict()

In [0]:
sign = df.sign.value_counts().to_dict()

In [0]:
categories = {**gender, **age, **topic, **sign}

In [0]:
categories

{13: 13133,
 14: 27400,
 15: 41767,
 16: 72708,
 17: 80859,
 23: 72889,
 24: 80071,
 25: 67051,
 26: 55312,
 27: 46124,
 33: 17584,
 34: 21347,
 35: 17462,
 36: 14229,
 37: 9317,
 38: 7545,
 39: 5556,
 40: 5016,
 41: 3738,
 42: 2908,
 43: 4230,
 44: 2044,
 45: 4482,
 46: 2733,
 47: 2207,
 48: 3572,
 'Accounting': 3832,
 'Advertising': 4676,
 'Agriculture': 1235,
 'Aquarius': 49687,
 'Architecture': 1638,
 'Aries': 64979,
 'Arts': 32449,
 'Automotive': 1244,
 'Banking': 4049,
 'Biotech': 2234,
 'BusinessServices': 4500,
 'Cancer': 65048,
 'Capricorn': 49201,
 'Chemicals': 3928,
 'Communications-Media': 20140,
 'Construction': 1093,
 'Consulting': 5862,
 'Education': 29633,
 'Engineering': 11653,
 'Environment': 592,
 'Fashion': 4851,
 'Gemini': 51985,
 'Government': 6907,
 'HumanResources': 3010,
 'Internet': 16006,
 'InvestmentBanking': 1292,
 'Law': 9040,
 'LawEnforcement-Security': 1878,
 'Leo': 53811,
 'Libra': 62363,
 'Manufacturing': 2272,
 'Maritime': 280,
 'Marketing': 4769,
 'Military': 3128,
 'Museums-Libraries': 3096,
 'Non-Profit': 14700,
 'Pisces': 54053,
 'Publishing': 7753,
 'RealEstate': 2870,
 'Religion': 5235,
 'Sagittarius': 50036,
 'Science': 7269,
 'Scorpio': 57161,
 'Sports-Recreation': 3038,
 'Student': 153903,
 'Taurus': 62561,
 'Technology': 42055,
 'Telecommunications': 3891,
 'Tourism': 1942,
 'Transportation': 2326,
 'Virgo': 60399,
 'female': 336091,
 'indUnk': 251015,
 'male': 345193}